# Platform-specific
mhist-project.code-workspace
run_streamlit_app.sh
__pycache__

# Large
thumb/
onnx_artifacts
mhist-venv
artifacts/samples_weights.npy

# Old (test before deleting)
get_ecr_size.py
.github/workflows/update-model.yml
Lambda_predict/lambda_function_local.py
# Lambda_predict/lambda_handler_old.py
sagemaker-inference/model.tar.gz
