# Platform-specific
mhist-project.code-workspace
run_streamlit_app.sh
*__pycache__*
*.DS_Store

# Large
thumb
onnx_artifacts
mhist-venv
sagemaker-inference/model.tar.gz
google-colab-training/artifacts/MHIST_ViT_v13.pt
google-colab-training/artifacts/MHIST_ViT_v13_dynamo_model.onnx

# Old (test before cleaning up these lines)
get_ecr_size.py
.github/workflows/update-model.yml
Lambda_predict/lambda_function_local.py
Lambda_predict/lambda_handler_old.py